.forget {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgetdiv {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.forgetdiv h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(83,47,130);
}

.forget p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(83,47,130);
}

.forgetinput {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 5%;
}

.forgetinput span {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(83,47,130);
}

.forgetinput input {
    height: 70%;
    width: 100%;
    outline: none;
}

.forgetdiv button {
    width: 100%;
    height: 10vh;
    font-size: 18px;
    background-color: rgb(83,47,130) ;
    border: none;
    color: rgb(243, 243, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

.myp {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}